---
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Headline from '~/components/ui/Headline.astro';
import type { Widget } from '~/types';

interface Direction {
  title: string;
  description: string;
  callToAction: { text: string; href: string };
}

interface Props extends Widget {
  title?: string;
  subtitle?: string;
  tagline?: string;
  items?: Direction[];
}

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline = await Astro.slots.render('tagline'),
  items = [],

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-6xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <Headline title={title} subtitle={subtitle} tagline={tagline} />
  <div class="grid gap-6 md:grid-cols-2 mt-12">
    {
      items.map((item) => (
        <div class="p-6 rounded-md border border-gray-200 dark:border-slate-700 flex flex-col">
          <h3 class="text-xl font-bold mb-3 font-heading dark:text-white" set:html={item.title} />
          <p class="text-muted dark:text-slate-400 mb-6 flex-1" set:html={item.description} />
          <a class="text-primary hover:underline font-medium" href={item.callToAction.href}>
            {item.callToAction.text} →
          </a>
        </div>
      ))
    }
  </div>
</WidgetWrapper>
